<a href="https://colab.research.google.com/github/PoojaPushparajShetty/TASK-4/blob/main/TASK41ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [ ]:
import pandas as pd

In [ ]:
path = ["/data_file_1.csv.csv" , " /data_file_2.csv.csv"]

In [ ]:
df = pd.read_csv(path)

In [ ]:
df.tail()

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0
83,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0

In [ ]:
path12 = "/data_file_2.csv.csv"

In [ ]:
df1 = pd.read_csv(path12)
df.tail()

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0
83,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [ ]:
data1 = pd.read_csv('data_file_1.csv.csv')
data2 = pd.read_csv('data_file_2.csv.csv')
  
# using merge function by setting how='right'
output3 = pd.merge(data1, data2,
                 how='right')
  
# displaying result
print(output3)

FileNotFoundError: ignored

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

###### No of students participated

###### #Average completion of python course or my_sql or python english or computational thinking

###### rising star of the week (top 3 candidate who performed well in that particular week)

###### Shining stars of the week (top 3 candidates who has highest geekions)

###### Department wise codekata performence (pie chart)

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)